body{
    background-image: url('https://github.com/Remojs/PI-Videogames/blob/master/client/public/img/LandingBGN.png?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.btn-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 200px;
    height: 100px;
    color: azure;
    background-color: rgb(29, 38, 68);
}