@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
::-webkit-scrollbar {display: none;}



body{
    background-image: url('https://github.com/Remojs/PI-Videogames/blob/master/client/public/img/LandingBGN.png?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.landing{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 275px;
}

.btn-link{
    cursor: pointer;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    text-align: center;	
    color: #000;
}

.btn{
    display: inline-block;
    margin-right: 15px;
    padding: 10px 95px;
    font-size: 24px;
    outline: none;
    background-color: #999999;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #747474;
}

.btn:hover {
    background-color: #a7a7a7
}

.btn:active {
    background-color: #a7a7a7;
    box-shadow: 0 5px #747474;
    transform: translateY(4px);
}

.btn-box{
    display: flex;
    flex-direction: row;
}

.nav{
    background-color: #171A21;
    height: 60px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-btn{
    height: 25px;
    width: auto;
    margin: 18px 10px 20px 0px;
    padding: 0px 10px;
    text-align: center;
    background-color: transparent;
    border-radius: 3px;
    border: #007B00 1px solid;
    color: #fff;
}

.install{
    background-color: #007B00;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.logo{
    height: 50px;
    width: 50px;
    margin: 5px;
}

.logo-box{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.nav-title{
    color: #999999;
    font-size: 40px;
    font-weight: 600;
}