body{
    background-color: rgb(13, 39, 21);
}

.home-body{
    position: relative;
    display: flex;
    flex-direction: column;
}

.box-game{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
    margin-left: 435px;
    margin-right: 435px;
}

.card-img{
    height: 280px;
    width: 300px;
    overflow: hidden;
    object-fit: cover;
}

.card-box{
    height: 390px;
    width: 300px;
    margin: 15px;
    box-shadow: 0px 0px 10px #000000e3;
}

.winter-poster{
    width: 977px;
    height: 150px;
    margin-left: 450px;
    margin-top: -150px;
}

.divider-bar{
    background-color: #16c24a02;
    height: 10px;
    width: 1100px;
    margin-top: -170px;
    margin-bottom: 185px;
    margin-left: 380px;
    box-shadow: 0 -50px 50px #16c249
}

.card-info-box{
    height: 110px;
    width: 300px;
    background: ;
    margin-top: -17px;
}

.card-genres-box{
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-name{
    font-size: 10px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.card-name:hover{
    font-size: 11px;
    color: #0d2715;
    transition-duration: 0.3s;
}