body{
    background-color: #0d2715;
}

.home-body{
    position: relative;
    display: inline-block;
}

.box-game{
    height: 800px;
    width: 800px;
}

.img{
    height: 300px;
    width: 300px;
}

