.nav-home{
    height: 100px;
    width: auto;
    background-color: #171A21;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.btn-box{
    margin-right: 470px;
    margin-bottom: 60px;
}

.links-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link{
    color: #C5C3C0;
    text-decoration: none;
    margin: 5px;
    font-size: 15px;
    font-weight: 400;
}

.icon{
    height: 38px;
    width: 38px;
    margin: 5px;
}

.icon-box{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-left: 470px;
}

.steel-title{
    color: #C5C3C0;
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-left: 5px;
}