.carrousel-title{
  color: #C5C3C0;
  font-size: 16px;
  margin-left: 470px;
  margin-bottom: -5px;
  font-weight: 500;
}

.carousel{
    margin-top: -290px;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-carrousel{
    width: 605px;
    height: 355px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 0px 10px #000000e3;
}

.right-arrow {
    position: absolute;
    right: 420px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    border-radius: 0 10px 10px 0;
  }
  
  .left-arrow {
    position: absolute;
    left: 420px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    border-radius: 10px 0 0 10px;
  }
  
  .button-carrousel{
    background-color: transparent;
    backdrop-filter: blur(15px);
    border: none;
    height: 150px;
    width: 30px;
  }

  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  .carrousel-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .carrousel-info{
    width: 300px;
    height: 350px;
    background-color: #171A21;
    box-shadow: 0px 0px 10px #000000e3;
    box-shadow: inset 10px 0px 10px #000000e3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .carrousel-data{
    color: #B1B1B1;
  }

  .bottom-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 0 15px;
  }

  .platform-icon{
    height: 15px;
    width: 15px;
    margin: 1px;
  }

  .platforms{
    display: flex;
    justify-content: flex-end;
  }

  .title{
    font-weight: 400;
    margin-left: 15px;
  }

  .steam-status{
    font-weight: 500;
    margin-left: 15px;
    margin-bottom: 5px;
  }

  .steam-sell{
    text-align: center;
    font-size: 10px;
    margin-left: 18px;
    padding: 2px;
    background-color: #394149;
    width:70px
  }

  .genres-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 10px;
    max-width: 340px;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  .genre {
    text-align: center;
    background-color: #ffffff;
    padding: 15px 25px;
    border-radius: 4px;
  }